body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #111;
    color: white;
    padding: 15px 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a.active, nav ul li a:hover {
    border-bottom: 2px solid white;
}

.hero {
    /* background: url('sneaker-bg.jpg') center/cover no-repeat; */
    background-color: lime;
    color: white;
    text-align: center;
    padding: 150px 20px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.btn {
    background-color: #ff4500;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

footer {
    text-align: center;
    background: #222;
    color: #aaa;
    padding: 20px;
}
